<ion-content>
  <ion-slides #slides>

    <ion-slide class="start-slide">
      <h3>Ionic3-kids-quiz</h3>
      <button ion-button color="primary" (click)="nextSlide()">Start!</button>
    </ion-slide>

    <ion-slide *ngFor="let question of questions; let i = index;">
      
      <h3>Question {{i+1}}</h3>
      
      <ion-item no-lines>
        <flash-card [isFlipped]="question.flashCardFlipped">
          <div class="flash-card-front" [innerHTML]="question.flashCardFront"></div>
          <div class="flash-card-back" [innerHTML]="question.flashCardBack"></div>
        </flash-card>
      </ion-item>

      <h3>{{question.questionText}}</h3>

      <ion-list no-lines radio-group>

        <ion-item *ngFor="let answer of question.answers; let i = index">
          <ion-label>{{i+1}}.{{answer.answer}} </ion-label>
          <ion-radio (click)="selectAnswer(answer, question)" [checked]="answer.selected" [disabled]="hasAnswered"></ion-radio>
        </ion-item>

      </ion-list>

    </ion-slide>

    <ion-slide>
      <h2>スコア：{{score}}</h2>
      <button (click)="restartQuiz()" ion-button full color="primary">クイズに再チャレンジ
      </button>
    </ion-slide>

  </ion-slides>
</ion-content>
